
table,th,td{
    text-align: center;
    border-collapse: collapse;
}

th{
    background-color: #D63231;
    color: white;
}

td,tr,th{
    padding: 20px;
}

tr:nth-child(even){
    background-color: #F3F3F3;
}
p{
    font-weight: bold;
    color: #D63231;
    font-size: large;
}

